.sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 309px;
  background: $main-white;
  padding: 36px 23px 76px 33px;
  display: flex;
  flex-direction: column;

  @media (max-width: 970px) {
    width: 220px;
  }

  &__menu {
    padding: 0;
    margin: 0;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 9px;
  }

  &__item {
    border-radius: 8px;
    padding: 11px 8px 11px 11px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $bg-violet;

      .sidebar__link {
        color: $main-white;
      }

      svg path {
        stroke: $main-white;
      }
    }

    &.sidebar__active {
      .sidebar__item-arr {
        display: none;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: $text-grey;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;

    svg {
      transition: all 0.3s ease;
    }
  }

  &__text {
    margin-left: 14px;
  }

  &__item-arr {
    margin-left: auto;
  }

  &__footer {
    margin-top: auto;

    @media (max-width: 970px) {
      margin-top: 40px;;
    }
  }
}

