.table {
  border-collapse: collapse;
  background-color: $main-white;
  text-align: left;

  @media (max-width: 1190px) {
    display: block;
    width: 100%;
  }

  &__head {
    border-bottom: 1px solid $bg-white;

    @media (max-width: 1190px) {
      display: block;
      float: left;
    }
  }

  &__head-item {
    font-weight: 500;
    font-size: 14px;
    color: $light-grey;
    padding-bottom: 14px;

    @media (max-width: 1190px) {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 53px;
    }

    @media (max-width: 440px) {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 12px;
    }
  }

  &__body {
    @media (max-width: 1190px) {
      display: block;
      overflow-x: auto;
    }
  }

  &__body-row {
    border-bottom: 1px solid $bg-white;

    @media (max-width: 1190px) {
      display: table-cell;
    }
  }

  &__body-item {
    font-weight: 500;
    font-size: 14px;
    color: $body-item-color;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 53px;

    &:last-child {
      padding: 0;
    }

    @media (max-width: 1190px) {
      display: block;

      &:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 53px;
      }
    }

    @media (max-width: 440px) {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 12px;
    }
  }

  &__item-status {
    display: block;
    width: 80px;
    border: 1px solid $status-active;
    border-radius: 4px;
    background-color: rgba(22, 192, 152, 0.38);
    color: $status-active;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;

    &--inactive {
      color: $status-inactive;
      border: 1px solid $status-inactive;
      background-color: rgba(223, 4, 4, 0.38);
    }
  }
}
