$main-white: #fff;
$bg-white: #EEEEEE;
$bg-violet: #5932EA;
$text-black: #000;
$text-grey: #9197B3;
$text-dark-grey: #757575;
$text-vers-grey: #838383;
$light-grey: #B5B7C0;
$customers-subtitle: #16C098;
$arrows-color: #404B52;
$status-active: #00B087;
$status-inactive: #DF0404;
$body-item-color: #292D32;
$bg-input: #fafbff;
